@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this custom CSS to your global styles */
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

/* 1 */
@font-face{
  font-family: 'zendaya';
  src:url('../public/fonts/Zendaya.otf');
}

/* 2 */
@font-face {
  font-family: 'tokyo';
  src: url('../public/fonts/Tokyo.ttf');
}

/* - */
@font-face {
  font-family: 'vulture';
  src: url('../public/fonts/Vulture.ttf');
}

/* 3 */
@font-face {
  font-family: 'standerd';
  src: url('../public/fonts/Standerd-Regular.otf');
}

/* 4- */
@font-face {
  font-family: 'sorealism';
  src: url('../public/fonts/sorealism.otf');
}

/* - */
@font-face {
  font-family: 'mintely';
  src: url('../public/fonts/Mintely\ Personal\ Use\ Only.ttf');
}
/* - */
@font-face {
  font-family: 'minimalist';
  src: url('../public/fonts/Minimalist\ Creative.otf');
}
/* - */
@font-face {
  font-family: 'maslite';
  src: url('../public/fonts/MASLITE.otf');
}
/* - */
@font-face {
  font-family: 'magioline';
  src: url('../public/fonts/Magioline.ttf');
}

@font-face {
  font-family: 'miragem';
  src: url('../public/fonts/Mirage/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'voyager';
  src: url('../public/fonts/Voyage/MADEVoyagerPERSONAL_USE-Thin.otf');
}

@font-face {
  font-family: 'tommy';
  src: url('../public/fonts/Tommy/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}
/* 

  */

:root {
  --background: #361f1f;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */
}
